<piweb-container-padrao titulo="Associação de Contatos da Empresa a Notificação de Serviço">

  <form [formGroup]="formPesquisa">

    <div class="row">
      <div class="col-md-12">
        <h4>Dados do Contato da Empresa</h4>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-2 text-md-right">
        <label for="idEmpresa">Empresa</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idEmpresa" id="idEmpresa">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="empresa?.id" *ngFor="let empresa of listaEmpresasObs | async">
            {{empresa?.nomeFantasia}}
        </select>
      </div>
      <div class="col-md-2 text-md-right">
        <label for="idContato">Contato da Empresa</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idContato" id="idContato">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="contatoEmpresa?.id" *ngFor="let contatoEmpresa of listaContatoEmpresaObs | async">
            {{contatoEmpresa?.descricao}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Dados do Serviço</h4>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-2 text-md-right">
        <label for="idSistema">Sistema</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idSistema" id="idSistema">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="sistema?.id" *ngFor="let sistema of listaSistemaObs | async">
            {{sistema?.nome}} ({{sistema?.empresa.nomeFantasia}})
        </select>
      </div>
      <div class="col-md-2 text-md-right">
        <label for="idServico">Serviço</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idServico" id="idServico">
          <option [ngValue]="null">Selecione...</option>

          <option [ngValue]="servico?.id" *ngFor="let servico of listaServicoObs | async">
            {{servico?.descricao}}
        </select>
      </div>
    </div>

    <piweb-barra-acoes class="mt-3">
      <button piweb-btn-primario type="submit" (click)="btnPesquisar()"
        >Pesquisar</button>
      <button piweb-btn-secundario (click)="limpar()">Limpar</button>
      <button piweb-btn-secundario routerLink="cadastrar"
        routerLink="cadastrar">Incluir</button>
      <button piweb-btn-voltar title="Voltar" class="btn" routerLink="/admin">Voltar</button>
    </piweb-barra-acoes>

  </form>
</piweb-container-padrao>

<piweb-tabela
  [exibirBotoesExportarDados]="false"
  [paginaResultado]="resultadoPaginaAtual"
  [numeroPaginaAtual]="paginaAtualCfg.pagina"
  (novaPaginaEvt)="btnPesquisar($event)"
  (ordenarColuna)="ordenar($event)"
  exibirLimiteLinhas="true"
  [linhasPorPagina]="[5,10,20]">

  <ng-template piwebColuna="empresa" let-empresa tituloColuna="Empresa">
    {{ empresa.nomeFantasia }}
  </ng-template>
  <ng-template piwebColuna="contato" let-contato tituloColuna="Contato Empresa">
    {{ contato.nome }}
  </ng-template>
  <ng-template piwebColuna="servico" let-servico tituloColuna="Sistema">
    {{ servico.sistemaPrimario.nome }} >  {{ servico.sistemaSecundario.nome }}
  </ng-template>
  <ng-template piwebColuna="servico" let-servico tituloColuna="Serviço">
    {{ servico.nome }}
  </ng-template>

  <ng-template piwebColuna="notificacao" let-valor let-notificacao tituloColuna="Notificação" esconderOrdenacao="true">
    {{ notificacao }}
  </ng-template>

  <ng-template piwebColuna="id" let-valor bodyClass="text-right">
    <button piweb-tabela-botao icone="fas fa-eye text-success mr-2"
       [routerLink]="['visualizar', valor]"  title="Visualizar"></button>
    <button piweb-tabela-botao icone="fas fa-pencil-alt text-primary mr-2"
       [routerLink]="['editar', valor]"
      title="Editar"></button>
    <button piweb-tabela-botao icone="fas fa-trash-alt text-danger mr-2"
      title="Excluir"
      (click)="excluirContatoEmpresaServico(valor)"></button>
  </ng-template>

</piweb-tabela>
