<footer class="footer">
  <div class="container">
    <div class="row d-none d-sm-flex">
      <div class="col-6 versao">Versão: {{versao || 'NOT_FOUND'}}</div>
      <div class="col-6 text-right"><img [src]="srcLogo || 'assets/img/logo.png'"
          alt="Brasão da prefeitura de belo horizonte" class="img-fluid mt-1"></div>
    </div>
    <div class="row d-sm-none">
      <div class="col-12 text-center"><img [src]="srcLogo || 'assets/img/logo.png'"
          alt="Brasão da prefeitura de belo horizonte" class="img-fluid mt-1"></div>
    </div>
  </div>
</footer>