<piweb-container-padrao [titulo]="titulo">
  <piweb-identificador-obrigatoriedade>
  </piweb-identificador-obrigatoriedade>

  <form [formGroup]="formPrincipal">
    <div class="row mb-1">
      <div class="col-md-2 text-md-right">
        <label for="idEmpresa" class="obrigatorio">Empresa</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idEmpresa" id="idEmpresa">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="empresa.id" *ngFor="let empresa of listaEmpresasObs | async">
            {{empresa.descricao}}
        </select>
      </div>
    </div>


    <div class="row mb-1">
      <div class="col-md-2 text-right">
        <label for="nome" class="obrigatorio">Nome Sistema</label>
      </div>
      <div class="col-md-4">
        <input type="text" psappContadorMaxlength="100" formControlName="nome" id="nome" class="form-control"
          maxlength="100">
      </div>
      <div class="col-md-4">
        <a [tooltip]="'Nome do Sistema. Ex: SIGRAH, SIGBASES.'" class="">
          <i for="nome" class="fas fa-question-circle ajuste-tooltip"></i>
        </a>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-2 text-right">
        <label for="descricao" class="obrigatorio">Descrição</label>
      </div>
      <div class="col-md-4">
        <textarea formControlName="descricao" psappContadorMaxlength="250" id="descricao" class="form-control"
          maxlength="250"></textarea>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-2 text-right">
        <label for="status" class="obrigatorio">Sistema Ativo?</label>
      </div>
      <div class="col-md-4">
        <app-input-radio-list [listaRadioModel]="dataSourceStatusRadio" id="status" formControlName="status">
        </app-input-radio-list>
      </div>
    </div>

    <piweb-barra-acoes class="mt-3">
      <button piweb-btn-primario type="submit" (click)="salvarSistema()"
        [identificadorPermissao]="[permissaoEnum.CADASTRO_MANTEREXEMPLO]">Salvar</button>
      <button piweb-btn-voltar title="Voltar" class="btn" (click)="voltar()">Voltar</button>
    </piweb-barra-acoes>

  </form>
</piweb-container-padrao>
