<piweb-container-padrao titulo="Registros de Log de De/Para">
  <piweb-identificador-obrigatoriedade>
    Preencha pelo menos um dos filtros para realizar a pesquisa.
  </piweb-identificador-obrigatoriedade>

  <form [formGroup]="formPesquisa">
    <div class="row mb-1">
      <div class="col-md-2 text-md-right">
        <label for="dataInicial">Data do Evento Inicial</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="date" class="form-control" formControlName="dataInicial" placeholder="__/__/____" aria-label="Username" aria-describedby="basic-addon1" id="dataInicial">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="far fa-calendar-alt"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-2 text-right">
        <label for="dataFinal">Data do Evento Final</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="date" class="form-control" formControlName="dataFinal" placeholder="__/__/____" aria-label="Username" aria-describedby="basic-addon1" id="dataFinal">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="far fa-calendar-alt"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-2 text-md-right">
        <label for="idTipoDePara">Tipo de De/Para</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idTipoDePara" id="idTipoDePara">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="tipoDePara?.id" *ngFor="let tipoDePara of listaTipoDeParaObs | async">
            {{tipoDePara?.nome}}
        </select>
      </div>
      <div class="col-md-2 text-right">
        <label for="nome">Nome do De/Para</label>
      </div>
      <div class="col-md-4">
        <input type="text" psappContadorMaxlength="100" formControlName="nomeDePara" id="nome" class="form-control"
          maxlength="100">
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-md-2 text-md-right">
        <label for="idUsuario" >Usuário</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idUsuario" id="idUsuario">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="usuario.id" *ngFor="let usuario of listaUsuarios | async">
            {{usuario?.descricao}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Dados do Sistema Primário</h4>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-2 text-md-right">
        <label for="idEmpresaPrimaria">Empresa</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idEmpresaPrimaria" id="idEmpresaPrimaria">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="empresaPri?.id" *ngFor="let empresaPri of listaEmpresasObs | async">
            {{empresaPri?.nomeFantasia}}
        </select>
      </div>
      <div class="col-md-2 text-md-right">
        <label for="idSistemaPrimario">Sistema</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idSistemaPrimario" id="idSistemaPrimario">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="sistemaPri?.id" *ngFor="let sistemaPri of listaSistemasPriObs | async">
            {{sistemaPri?.descricao}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Dados do Sistema Secundário</h4>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-2 text-md-right">
        <label for="idEmpresaSecundaria">Empresa</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idEmpresaSecundaria" id="idEmpresaSecundaria">
          <option [ngValue]="null">Selecione...</option>
          <option [ngValue]="empresaSec?.id" *ngFor="let empresaSec of listaEmpresasObs | async">
            {{empresaSec?.nomeFantasia}}
        </select>
      </div>
      <div class="col-md-2 text-md-right">
        <label for="idSistemaSecundario">Sistema</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" formControlName="idSistemaSecundario" id="idSistemaSecundario">
          <option [ngValue]="null">Selecione...</option>

          <option [ngValue]="sistemaSec?.id" *ngFor="let sistemaSec of listaSistemasSecObs | async">
            {{sistemaSec?.descricao}}
        </select>
      </div>
    </div>

    <piweb-barra-acoes class="mt-3">
      <button piweb-btn-primario type="submit" (click)="btnPesquisar()"
        *verificadorPermissao="[permissaoEnum.CADASTROS_DEPARA_CONSULTAR]">Pesquisar</button>
      <button piweb-btn-secundario (click)="limpar()">Limpar</button>
      <button piweb-btn-voltar title="Voltar" class="btn" routerLink="/admin">Voltar</button>
    </piweb-barra-acoes>
  </form>

</piweb-container-padrao>

<piweb-tabela [exibirBotoesExportarDados]="true" [paginaResultado]="resultadoPaginaAtual"
  [gerarCsv]="gerarCsv.bind(this)" [gerarExcel]="gerarExcel.bind(this)"
  [numeroPaginaAtual]="paginaAtualCfg.pagina" (novaPaginaEvt)="btnPesquisar($event)" (ordenarColuna)="ordenar($event)"
  exibirLimiteLinhas="true" [linhasPorPagina]="[5,10,15]">

  <ng-template piwebColuna="dataAlteracaoDadoAtual" let-valor tituloColuna="Data do Evento">
    {{valor.substring(0,16)}}
  </ng-template>

  <ng-template piwebColuna="usuarioResponsavelAlteracao" let-valor tituloColuna="Usuário">
    {{valor}}
  </ng-template>

  <ng-template piwebColuna="tipoDePara" let-valor tituloColuna="Tipo De/Para">
    {{valor}}
  </ng-template>

  <ng-template piwebColuna="dadoAnterior" let-valor tituloColuna="Antes">
    <span [ngClass]="valor === 'De/Para Criada' ? 'italic':''">{{valor}}</span>
  </ng-template>

  <ng-template piwebColuna="dadoAtual" let-valor tituloColuna="Depois">
    <span [ngClass]="valor === 'De/Para Removida' ? 'italic':''">{{valor}}</span>
  </ng-template>

  <ng-template piwebColuna="idRevisao" let-valor tituloColuna="Rev." esconderOrdenacao="true">
    <span class="align-center">{{valor}}</span>
  </ng-template>

  <ng-template piwebColuna="idRevisao" let-valor bodyClass="text-right">
    <button piweb-tabela-botao icone="fas fa-eye text-success mr-2" [routerLink]="['visualizar', valor]"
    *verificadorPermissao="[permissaoEnum.CADASTROS_DEPARA_CONSULTAR]" title="Visualizar"></button>
  </ng-template>

</piweb-tabela>
